.cardContainer {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.mainCard {
  min-width: 249px;
  width: 250px;
  height: 400px;
  border: 2px solid black;
  border-radius: 12px;
  background: linear-gradient(225deg, #002b42, #00334e);
  box-shadow: -12px 12px 24px #001d2d, 12px -12px 24px #004365;
  background-color: #003049;
  text-align: center;
  color: #eae2b7;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 800;
}

.mainCard_title {
  /* margin-top: 30%; */
  position: relative;
  top: 20%;
  margin-bottom: 10%;
  font-size: 1.2rem;
}
.mainCard_script {
  position: relative;
  top: 30%;
  font-size: 1rem;
}

.left {
  max-width: 300px;
  min-width: 150px;
  height: 400px;
  flex: 1;
  text-align: center;
  color: #eae2b7;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  flex-wrap: wrap;

}

.leftArrow {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.leftText {
  position: relative;
  top: 45%;
}

.right {
  max-width: 300px;
  min-width: 150px;
  height: 400px;
  flex: 1;
  text-align: center;
  color: #eae2b7;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  flex-wrap: wrap;

}
.rightArrow {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rightText {
  position: relative;
  top: 45%;
}
.cardModal {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  min-width: 300px;
  max-width: 600px;
  height: 30vh;
  min-height: 150px;
  max-height: 200px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  z-index: 999;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 998;
}


@media (max-width: 599px) {
  .cardContainer > :nth-child(2) {
    flex-basis: 100%;
    display: flex;
    justify-content:center;

  }
  .cardContainer > :first-child {
    order: 1;
    height:200px;

  }
  .cardContainer > :last-child {
    order: 2;
    height:200px;

  

  }
  .leftArrow {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .leftText {
    position: relative;
    top: 25%;
  }
  .rightArrow {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .rightText {
    position: relative;
    top: 25%;
  }
}